@model ServiceViewModel

<div class="container-sm p-3">
    <h1 class=" fw-bold mt-5">Edit Service</h1>
    <form asp-controller="Management" asp-action="EditService" method="post" class="align-content-lg-end" enctype="multipart/form-data" accept-charset="image/*">
        <div class="form-group p-1">
            <label asp-for="ServiceName" class="form-label">Service name</label>
            <input asp-for="ServiceName" class="form-control" />
            <span asp-validation-for="ServiceName" class="text-danger"></span>
        </div>

        <div class="form-group p-1 col-xl-4 mb-3">
            <label asp-for="TitleImage" class="mb-3"><strong>Title Image</strong></label>
            <input asp-for="TitleImage" type="file" class="form-control" id="titleImage" name="TitleImage" accept="image/*">
            <span asp-validation-for="TitleImage" class="text-danger"></span>
            <div id="imagePreview" class="mt-3"></div>
        </div>

        <div class="form-group p-1">
            <label asp-for="ServicePrice" class="form-label">Price</label>
            <input asp-for="ServicePrice" type="number" class="form-control" />
            <span asp-validation-for="ServicePrice" class="text-danger"></span>
        </div>

        <div class="form-group p-1">
            <label asp-for="ServiceDescription" class="form-label">Description</label>
            <textarea asp-for="ServiceDescription" class="form-control" rows="5"></textarea>
            <span asp-validation-for="ServiceDescription" class="text-danger"></span>
        </div>

        <div class="form-group p-1">
            <label asp-for="AdditionalInformation" class="form-label">Additional information</label>
            <textarea asp-for="AdditionalInformation" class="form-control" rows="2"> </textarea>
            <span asp-validation-for="AdditionalInformation" class="text-danger"></span>
        </div>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-light p-2">Save</button>
            <button class="btn btn-light" type="button" onclick="window.history.back();">Go Back</button>
        </div>
    </form>
</div>