<div class="container-lg">
<h1 class="text-white mt-5">Management Page</h1>
    <a href="/Management/WebsiteProfile" class="btn btn-light mb-3 p-2 border-1 fw-bold mt-5" role="button">Manage website profile</a>

<button type="button" class="action-btn btn-light mb-3 p-2 border-1 fw-bold mt-5" id="profile">Manage website profile</button>
<br />
<button type="button" class="action-btn btn-light mb-1 p-2 border-1 fw-bold" id="messages">Manage messages</button>
<button type="button" class="action-btn btn-light mb-1 p-2 border-1 fw-bold" id="articles">Manage articles</button>
<button type="button" class="action-btn btn-light mb-1 p-2 border-1 fw-bold" id="services">Manage Services</button>

<hr />

<div id="render-container">
    <partial name="_Messages" view-data="ViewData" />
</div>
</div>
<script>

    $(document).ready(function () {
        $("#articles").click(function () {
            $.ajax({
                url: '@Url.Action("ManageArticles", "Management")', // Adjust if your application is configured differently
                type: 'GET',
                success: function (data) {
                    $('#render-container').html(data);
                },
                error: function () {
                    alert("Error loading articles.");
                }
            });
        });
    });

    $(document).ready(function () {
        $("#messages").click(function () {
            $.ajax({
                url: '@Url.Action("ManageMessages", "Management")', // Adjust if your application is configured differently
                type: 'GET',
                success: function (data) {
                    $('#render-container').html(data);
                },
                error: function () {
                    alert("Error loading articles.");
                }
            });
        });
    });

    $(document).ready(function () {
        $("#services").click(function () {
            $.ajax({
                url: '@Url.Action("ManageServices", "Management")', // Adjust if your application is configured differently
                type: 'GET',
                success: function (data) {
                    $('#render-container').html(data);
                },
                error: function () {
                    alert("Error loading articles.");
                }
            });
        });
    });

    $(document).ready(function () {
        $("#websiteprofile").click(function () {
            $.ajax({
                url: '@Url.Action("ManageProfile", "Management")', // Adjust if your application is configured differently
                type: 'GET',
                success: function (data) {
                    $('#render-container').html(data);
                },
                error: function () {
                    alert("Error loading articles.");
                }
            });
        });
    });

</script>
