@model WebsiteProfile

<div class="container-md p-3 align-content-center">
    <h1 class=" fw-bold mt-5">Website profile</h1>
    <form asp-controller="Management" asp-action="WebsiteProfile" method="post" class="align-content-lg-end">

        @if (Model != null)
        {
          <input asp-for="_id" type="hidden" value="@Model._id" />
          <input asp-for="UserId" type="hidden" value="@Model.UserId" />

        }

        <div class="form-group p-1 col-xl-4">
            <label asp-for="Firstname" class="form-label">First name</label>
            <input asp-for="Firstname" class="form-control" />
            <span asp-validation-for="Firstname" class="text-danger"></span>
        </div>

        <div class="form-group p-1 col-xl-4">
            <label asp-for="Lastname" class="form-label">Last name</label>
            <input asp-for="Lastname" class="form-control" />
            <span asp-validation-for="Lastname" class="text-danger"></span>
        </div>

        <div class="form-group p-1 col-xl-4">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" type="email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>


        <div class="form-group p-1 col-xl-4">
            <label asp-for="Biography" class="form-label">Biography</label>
            <textarea asp-for="Biography" class="form-control" rows="2"> </textarea>
            <span asp-validation-for="Biography" class="text-danger"></span>
        </div>

        <div class="form-group p-1 col-xl-4">
            <label asp-for="Palmares" class="form-label">Palmares</label>
            <textarea asp-for="Palmares" class="form-control" rows="2"> </textarea>
            <span asp-validation-for="Palmares" class="text-danger"></span>
        </div>

        <h5 class="mt-2">Social media handles (leave empty if you don't want to show or have them)</h5>

        <div class="form-group p-1 col-xl-4">
            <label asp-for="InstagramHandle" class="form-label">Instagram</label>
            <input asp-for="InstagramHandle" class="form-control" > </input>
            <span asp-validation-for="InstagramHandle" class="text-danger"></span>
        </div>

        <div class="form-group p-1 col-xl-4">
            <label asp-for="FacebookHandle" class="form-label">Facebook</label>
            <input asp-for="FacebookHandle" class="form-control" > </input>
            <span asp-validation-for="FacebookHandle" class="text-danger"></span>
        </div>

        <div class="form-group p-1 col-xl-4">
            <label asp-for="LinkedinHandle" class="form-label">Linkedin</label>
            <input asp-for="LinkedinHandle" class="form-control"> </input>
            <span asp-validation-for="LinkedinHandle" class="text-danger"></span>
        </div>

        <div class="form-group p-1 col-xl-4">
            <label asp-for="YoutubeHandle" class="form-label">Youtube</label>
            <input asp-for="YoutubeHandle" class="form-control"> </input>
            <span asp-validation-for="YoutubeHandle" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-light p-2 mt-1 mb-2">Save</button>
    </form>
</div>