@model MessageViewModel


<div class="container-md text-center mt-5" style="max-width: 600px;">
    <h1>Get In Touch</h1>
    <p class="lead mt-3">We'd love to hear from you! Whether you're ready to book a photography session, inquire about our services, or simply want to ask a question, feel free to reach out.</p>
    <p class="lead mt-3">You can leave me a message here:</p>

</div>

<div class="container-lg text-white" style="max-width: 600px; height: 60vh">


            <form asp-controller="Contact" asp-action="Index" method="post">
                <div class="row mt-5">
                    <div class="col-md-6">
                        <div class="form-group mt-3">
                            <label asp-for="FirstName">First Name</label>
                            <input asp-for="FirstName" type="text" class="form-control mt-1" placeholder="Enter your first name...">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mt-3">
                            <label asp-for="LastName">Last Name</label>
                            <input asp-for="LastName" type="text" class="form-control mt-1" placeholder="Enter your first name...">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="form-group mt-3">
                    <label asp-for="Email">Email address</label>
                    <input asp-for="Email" type="email" class="form-control mt-1" id="exampleFormControlInput1" placeholder="Enter your email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Subject">I'm interested in...</label>
                    <Select asp-for="Subject" class="form-control mt-1" id="exampleFormControlInput1" placeholder="None">
                        <option value="msg">Something else/just a message</option>
                        @foreach (var x in Model.Services)
                        {
                            @if (Model.Selected != null && Model.Selected == x.ServiceName)
                            {
                                <option value="@x.ServiceName" selected>@x.ServiceName</option>

                            } else
                            {
                                <option value="@x.ServiceName">@x.ServiceName</option>

                            }
                        }
                    </Select>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="ContactMessage">Give me short description about your inquiry</label>
                    <textarea asp-for="ContactMessage" class="form-control mt-1" id="exampleFormControlTextarea1" rows="3"></textarea>
                    <span asp-validation-for="ContactMessage" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-light mb-3 mt-3">Send</button>
            </form>

</div>





