@model ArticleViewModel

<div class="container-lg">
<h1 class="mb-3 mt-5">Create new post</h1>
<form asp-controller="Articles" asp-action="NewPost" method="post" class="d-flex flex-column" enctype="multipart/form-data" accept-charset="image/*">

<div class="form-group p-1 col-xl-4  mb-3">
    <label asp-for="Title" class="mb-3"><strong>Title</strong></label>
    <input asp-for="Title" class="form-control input-lg" />
    <span asp-validation-for="Title" class="text-danger"></span>
</div>

        <div class="form-group p-1 col-xl-4 mb-3">
            <label asp-for="TitleImage" class="mb-3"><strong>Title Image</strong></label>
            <input asp-for="TitleImage" type="file" class="form-control" id="titleImage" name="TitleImage" accept="image/*">
            <span asp-validation-for="TitleImage" class="text-danger"></span>
            <div id="imagePreview" class="mt-3"></div>
        </div>




    <div class="form-group p-1 col-xl-2">
        <label asp-for="PublishingDate" class="mb-3"><strong>Choose publishing date</strong></label>
        <input asp-for="PublishingDate" type="date" class="form-control mb-3" id="dateInput">
        <span asp-validation-for="PublishingDate" class="text-danger"></span>
    </div>

    <div class="checkboxStyling">
    <div class="form-group p-1"
        <label asp-for="IsPublic" class="mb-3"><strong>Is public?</strong></label>
                    <i class="bi bi-question-circle ms-2 fs-4" data-bs-toggle="tooltip" data-placement="right"
            title="Article will be saved as draft if you don't want to publish right away">
            </i>
        <input asp-for="IsPublic" class="form-control mb-3 form-check-input" type="checkbox">
        <span asp-validation-for="IsPublic" class="text-danger"></span>
</div>
    </div>

<textarea asp-for="Content" name="Content" id="MyEditor"></textarea>



    <div class="container mt-3">
        <div class="row justify-content-between">
            <div class="col-auto">
                <button type="submit" class="btn btn-light p-2 mt-1 mb-2">Save</button>
            </div>

        </div>
    </div>
                       <div class="form-check">

    </div>
    </form>
</div>
<link href="~/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/js/froala_editor.pkgd.min.js"></script>
<script>
    new FroalaEditor('#MyEditor', {
        height: 600,  // Set the height in pixels
        heightMin: 300  // Minimum height in pixels
    });

    document.addEventListener("DOMContentLoaded", function () {
        var today = new Date();
        var formattedDate = today.toISOString().substr(0, 10);
        var dateInput = document.getElementById("dateInput");
        dateInput.value = formattedDate;
        dateInput.min = formattedDate;


    });

    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    });

        document.getElementById('titleImage').onchange = event => {
            const [file] = event.target.files;
            if (file) {
                const reader = new FileReader();
                reader.onload = e => {
                    const imgElement = document.createElement('img');
                    imgElement.src = e.target.result;
                    imgElement.style.maxWidth = '300px'; // Set the desired display size
                    imgElement.style.maxHeight = '300px';
                    document.getElementById('imagePreview').innerHTML = ''; // Clear previous previews
                    document.getElementById('imagePreview').appendChild(imgElement);
                };
                reader.readAsDataURL(file);
            }
        };

</script>