@model List<Article>

@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid p-0">
    <div class="image-container position-relative">
        <img src="images/intro.webp" class="img-fluid" style="max-width: 100%;" alt="Descriptive Text">
        <div class="centered-text position-absolute top-50 start-50 translate-middle">
            <h1 class="text-white">Your Text Here</h1>
        </div>
    </div>
</div>


<div class="container col-m-8 rounded shadow-lg mt-5">
    <div class="row align-items-center shadow  py-5">

        <div class="col-lg-6 ">


            <div class="lc-block mb-3  border-bottom border-warning">
                <h1 class="mb-5 border-bottom border-warning">Lorem ipsum</h1>

                <p class="fs-5">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p class="fs-5">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                    officia deserunt mollit anim id est laborum."
                </p>
            </div>
        </div>
        <div class="col-lg-6 mx-auto align-items-center">
            <img src="images/jorppa.jpg" class="d-block mx-lg-auto img-fluid"
                 alt="Jari & Taika yhtyeen promokuva. Yhtye seisoo vihreän puskan edustalla. Jari ja Jukka ovat etualalla polvillaan haitarit edessään. Hannu ja Jaakko seisovat heidän takanaan. Jaakolla on kädessään saksofoni. ">
        </div>
</div>

<div class="container mt-5">
    @if (Model.Count > 0)
    {
        <h2 class="text-center">Latest articles</h2>
        <div class="row row-cols-1 row-cols-lg-3 g-4 mt-5">

            @foreach (var x in Model)
            {


                string contentShort = HtmlTruncator.TruncateHtml(x.Content, 390);
                string titleShort = HtmlTruncator.TruncateHtml(x.Title, 45);
                string titleFormatted = x.Title.Replace(" ", "-");


                <div class="col">
                    <div class="card h-100 border-0">
                        <img src="images/intro.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2 class="card-title">@titleShort</h2>
                            <p class="lead">@x.PublishingDate.ToShortDateString()</p>
                            <p class="card-text">@Html.Raw(@contentShort)</p>
                            <a href="Articles/Read?ArticleName=@titleFormatted"><button type="button" class="btn btn-dark mb-3 justify-content-end">Read</button></a>
                        </div>
                    </div>
                </div>
            }
        </div>

    }
    else
    {
        <p>No articles found!</p>
    }
    </div>
