html {
  font-size: 14px;
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;

}

body {
  margin-bottom: 20px;

  }


h1, h2 {
    font-family: Rubik, sans-serif;
}

a {
    font-family: Inter, sans-serif;

}


.image-container {
    position: relative;
    text-align: center;
    max-height: 800px; /* Adjust this value based on your needs */
    overflow: hidden; /* Ensures nothing goes outside the bounds of the container */
}

.img-fluid {
    width: 100%; /* Ensures the image is responsive */
    height: auto; /* Maintain aspect ratio */
    max-height: 100%; /* Make sure the image does not exceed the container height */
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Change as needed */
    /* Additional styling for text */
    text-shadow: 2px 2px 4px #000000; /* Optional: for better visibility on images */
}

/* Targeting the input that is disabled */
.form-check-input:checked {
    opacity: 1 !important;
    background-color: black !important;
    border-color: black !important;

}




/* Targeting the label associated with the disabled input */
.form-check-label {
    color: black; /* Ensuring label text isn't faded */
    opacity: 1 !important; /* Ensuring label isn't transparent */
}

.checkboxStyling input[type="checkbox"] {
    width: 2em;
    height: 2em;
    border: white;
}

.BsIcons .bi-instagram {
    font-size: 80px;
}

.BsIcons .bi-telephone-fill {
    font-size: 80px;
}

.BsIcons .bi-envelope-fill {
    font-size: 80px;
}

#arrowhover i {
    cursor: pointer;
}

@media (max-width: 992px) {
    #top .ms-5 {
        margin-left: 0 !important; /* Overriding Bootstrap's margin */
    }
    .navbar-divider {
        display: none;
    }

    .custom-section {
        margin-right: 0px !important;
    }


}




.bg-image {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px); /* This will adjust dynamically */
    background-image: url("/images/BGIMG.webp");
    background-size: cover; /* 100% width and auto height to maintain aspect ratio */
    background-position: center center; /* Aligns the image at the top center */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    overflow: hidden;
    z-index: 1;

}



.navbar-divider {
    width: 30%; /* Set to 50% if you want the <hr> to cover half the width */
    border-top: 1px solid rgba(255, 255, 255); /* White with some transparency */
    position: absolute;
    top: 40px; /* Adjust based on your navbar's height */
    left: 50%; /* Start from the middle of the page */
    transform: translateX(-50%); /* Shift it back to truly center */
    opacity: 1;
}

.navbar-nav.mx-auto .nav-item {
    margin-left: 5px; /* Add space to the left of each item */
    margin-right: 5px; /* Add space to the left of each item */
}


.hovercontact {
    opacity: 90%;
}

.hovercontact:hover {
    opacity: 100%;
}



.custom-section .col {
    margin: 500px;
}

.ServiceTextFormat {
    white-space: pre-line;
}


.scrollable-card-body {
    max-height: 300px; /* Adjust this value based on the typical height of the images or your design requirements */
    overflow-y: auto;
}



