html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;

}

body {
  margin-bottom: 60px;

  }

h1 {
    font-family: Rubik Medium;
}

p {
    font-family: Open sans light;
}

.image-container {
    position: relative;
    text-align: center;
    max-height: 800px; /* Adjust this value based on your needs */
    overflow: hidden; /* Ensures nothing goes outside the bounds of the container */
}

.img-fluid {
    width: 100%; /* Ensures the image is responsive */
    height: auto; /* Maintain aspect ratio */
    max-height: 100%; /* Make sure the image does not exceed the container height */
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Change as needed */
    /* Additional styling for text */
    text-shadow: 2px 2px 4px #000000; /* Optional: for better visibility on images */
}

/* Targeting the input that is disabled */
.form-check-input:checked {
    opacity: 1 !important;
    background-color: black !important;
    border-color: black !important;

}




/* Targeting the label associated with the disabled input */
.form-check-label {
    color: black; /* Ensuring label text isn't faded */
    opacity: 1 !important; /* Ensuring label isn't transparent */
}

.checkboxStyling input[type="checkbox"] {
    width: 2em;
    height: 2em;
}

